
md-grid-tile {
  background: #fff;
}

.pokedex{
  margin-top: 35px;
}
.pokedex-pokemon-sprite{
  height: auto;
  width: 150px;
}
.pokedex-pokemon{
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-action{
  text-align: center;
}
.pokemon-card{
width: 200px;
}
.center{
text-align: center;
margin-left: auto;
margin-right: auto;
}
.header-image{
  background-image: url('../assets/favicon.png');
  background-size: cover;
}
.load-button {
  position: fixed;
  right: 20px;
  bottom: 10px;
}
.hidden{
  display: none;
}
.pokemon-search{
  width: 70%;
}

.toolbar-search{
  padding-left: 25%;
  padding-top: 10px;
}